<% @cities.each do |city| %>
 <%= city.latitude %>
 <%= city.longitude %>
 <%= city.cities_name %>
 <%= city.cities_midrange %>
<% end %>

<div style='width: 800px;'>
    <div id="directions" style='width: 800px; height: 400px;'></div>
</div>


<script type="text/javascript">
  buildMap(<%=raw @cities_name %>);
</script>
