<div class="row">
  <div class="col-md-9">
    <div id ="map">
      <%= render 'google' %>
    </div>
  </div>
  <%= simple_form_for( @city, remote: true) do |f|%>
    <%= f.error_notification %>
      <div class="col-md-3">
        <div class="new-form"><br>
        <%= f.simple_fields_for :cities_main do |setting| %>
          <%= setting.input :city1, label: "input your city from"  %>
          <%= setting.input :city2, label: "input your city to" %>
        <% end %>
        </div>
        <div class="new-form"><br>
        <%= f.simple_fields_for :cities_midrange do |setting| %>
          <%= setting.input :city1, label: "add city" %>
          <%= setting.input :city2, label: "add city" %>
          <%= setting.input :city3, label: "add city" %>
          <%= setting.input :city4, label: "add city" %>
        <% end %>
        </div> 
    <%= f.button :submit, :class => 'btn-custom2' %>
  <% end %>
</div>