<div class="row">
  <%= simple_form_for( @city, remote: true) do |f|%>
    <%= f.error_notification %>
      <div class="col-md-3">
        <%= f.simple_fields_for :cities_main do |setting| %>
          <div class="new-point">
            <%= setting.input :city_first, label: "* Input city from", placeholder: 'Warszawa'  %>
          </div>
         <% end %>
    <%= f.button :submit, "Create way ", :class => 'btn btn-primary' %><br>
  <% end %>
  <div class="point-add">
     <%= link_to 'Add Point to', '/add_to', id: "hello", remote: true, :class => 'btn btn-success' %>
  </div>
  <div class="point-delete">
   <%= link_to "Delete point", "/delete", id: "delete", method: :delete,  remote: true,  :class => 'btn btn-danger'%>
  </div>
 <% unless  @cities_name.nil? %>
  <div class="col-md-9">
    <div id ="map">
      <%= render 'google' %>
    </div>
  </div>
<% end %> 
  
</div>



