
<% unless  @cities_name.nil? %>
<div class="row">
  <div class="col-md-9">
    <div id ="map">
      <%= render 'google' %>
    </div>
  </div>
<% end %>
  <%= simple_form_for( @city, remote: true) do |f|%>
    <%= f.error_notification %>
      <div class="col-md-3">
        <%= f.simple_fields_for :cities_main do |setting| %>
          <div class="new-point">
            <%= setting.input :city_first, label: "input your city from"  %>
          </div><br>
         <% end %>
    <%= f.button :submit, "Create way", :class => 'btn-custom2' %>
  <% end %>
  <%= link_to 'add Point', '/add_to', id: "hello", remote: true, :class => 'btn-custom' %>
</div>



