<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  <script src='//cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker-compiled.js' type='text/javascript'></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js' type='text/javascript'></script>
 
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">

      <div class="navbar-header">
        <div class="logo">
          <%= link_to "The Laura", root_path, class: "navbar-brand" %>
        </div>
      </div>

      <ul class="nav navbar-nav">
        <div class="user-panel">
         <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-link"  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-link"  %> or <%= link_to "sign in", new_user_session_path, class: "btn btn-link"  %>
        <% end %>
        </div>
      </ul>
      <div class="col-md-5">
        <div class="search">
          <%= yield(:search) %>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |category| %>
              <li class="<%= 'active' if params[:category] == category.name %>">
                <%= link_to category.name, products_path(category: category.name), class: "link" %>
              </li>
            <% end %>
          </ul>
        </li>
        
        <li id="test"><%= render 'layouts/cart_text' %> </li>
        
      </ul>

    </div>

  </nav>
  <div class="container text-center">
    <%= flash_messages %>
  </div>
  <div class="container">     
<%= yield %>
</div>

</body>
</html>